<!DOCTYPE html>
<html>
<head>
	<title>Money Trucker-product-quatities</title>
	<link rel="stylesheet" type="text/css" href="../style.css">
	<link rel="stylesheet" type="text/css" href="./products_quatities_styles.css">
</head>
<body>

	<div class="container">
		<div class="nav-bar">
			<ul>
				<li><a href="">LOGO</a></li>
				<li><a href="/">Home</a></li>
				<li><a href="./monthly_consumption.html">Monthly Consumption</a></li>
				<li><a href="./weekly_consumption.html">Weekly Consumption</a></li>
				<li><a href="./product_quantities.html">Product Quantities</a></li>
			</ul>
		</div>
		<div>
			<h1>Product</h1>
			<div class="produt-container">
				<table id="table-products">
					<tr>
						<th rowspan="2">Products</th>
						<th rowspan="2">Quantities</th>
						<th rowspan="2">Type</th>
						<th rowspan="2">Cost</th>
						<th colspan="2">Date/Time</th>
					</tr>
					<tr>
						<th>Date</th>
						<th>Time</th>
					</tr>
					
				</table>
			</div>
		</div>
	</div>

	<!-- <script type="text/javascript" src="./global_script.js"></script> -->
	<script type="text/javascript" src="./product_quantities_script.js"></script>

</body>
</html>